<%= form_with model: [@account, @account.transactions.build] do |form| %>
  <p>
    <%= form.label :amount %><br>
    <%= form.text_field :amount %>
  </p>
  <p>
    <%= form.label :sourceIban %><br>
    <%= form.text_field :sourceIban %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
